.body {
    width: 500px;
    display: grid;
    grid-template-columns: 100px 1fr;

    margin-left: 20px;
}
.body__avatar {
    display: flex;
    align-items: flex-end;
}

.avatar {
    width: 80px;
    height: 80px;
    border: #dddbcc 1px solid;
    border-radius: 50%;
}
.cloud {
    position: relative;
    width: 300px;
    min-height: 100px;


    display: grid;
    grid-template-areas:
        'name'
        'text'
        'time';

    border-radius: 20px 20px 20px 0;

    background-color: #dddbcc;
}
.cloud:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -40px;

    width: 40px;
    height: 20px;


    border-radius: 0 0 20px 0;
    box-shadow: 20px 0 0 0 #dddbcc;
}

.cloud__name {
    grid-area: name;

    margin: 10px 10px 0 10px;

    font-weight: bold;
    font-size: 20px;
    color:  #236b80;
}
.cloud__text {
    grid-area: text;

    margin: 10px;

    font-size: 14px;
    color: #133944;
}
.cloud__time {
    grid-area: time;
    display: flex;
    justify-content: flex-end;

    margin: 0 10px 10px 10px;

    font-size: 14px;
    color: #85837a;
}