.input {
    width: 200px;
    height: 30px;
    margin: 20px 0 18px 20px;
    border-radius: 15px 0 0 15px;
    border: 0px;
    background-color: #dddbcc;
    padding-left: 10px;
}
.input:focus {
    outline: 0px;
    background-color: #f1f1f1;
}

.error {
    width: 200px;
    height: 30px;
    margin: 20px 0 0 20px;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: 0px;
    background-color: #dcc1c1;
    padding-left: 10px;
}

.errorText {
    margin-left: 30px;
    color: red
}


.buttonAdd {
    width: 70px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;

    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #236b80;
    color: #dddbcc;
    font-weight: bold;
}
.buttonAdd:hover {
    background-color: #1b5364;
}

.buttonAdd:disabled {
    cursor: default;
    background-color: #465b60;
}

.spanUsers {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    width: 32px;
    height: 32px;
    color: #dddbcc;
    font-weight: bold;
    background-color: #236b80;
}